<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="de.snmusic.oxygen.plugin.dbtagger"
    name="dbTagger"
    description="Database driven tagging plugin"
    version="1.1"
    vendor="Alexander Erhard"
    class="de.snmusic.oxygen.plugin.dbtagger.TaggerPlugin"
    classLoaderType="preferReferencedResources">
    <runtime>
        <library name="lib/dbtagger.jar"/>
    </runtime>
    <extension type="WorkspaceAccess" 
    class="de.snmusic.oxygen.plugin.dbtagger.TaggerPluginExtension"/>
</plugin>
